.project-card {
  background-color: var(--page-bg);
  border-radius: 10px;
  padding: 20px;
  box-shadow: var(--light-shadow);
  transition: transform 0.3s ease;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-5px);
}

.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 250px;
}

.project-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  width: 7%;
  font-size: 24px;
  transform: translateY(-50%);
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.carousel-btn:hover {
  opacity: 1;
  color: black;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot.active {
  background-color: var(--primary-color);
}

@media (max-width: 600px) {
  .carousel-btn {
    width: 10%;
    font-size: 20px;
    padding: 8px;
  }
}